@media (min-width:375px) and (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main__games {
        display: none;
    }

    .top {
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background-image: url(./images/Vector.png),
            url(./images/Star1.png),
            url(./images/Star2.png),
            url(./images/Star3.png),
            url(./images/Star4.png);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 80%, 21px, 35px, 18px, 40px;
        background-position: 190px -120px,
            91px 64px,
            37px 97px,
            272px 557px,
            303px 580px;

        &__heading {
            width: 262px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
            padding-top: 147px;
        }

        &__text {
            width: 296px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-bottom: 36px;
        }

        &__button {
            width: 285px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 142%;
            text-align: center;
        }

        &__animatedstrip {
            top: 634px;
            left: -6px;
        }
        &__animatedstrip-box {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            gap: 27px;
        }
        &__animatedstrip-label {
            color: rgb(32, 32, 39);
            font-family: inherit;
            font-size: 16px;
            font-weight: 700;
            line-height: 110%;
            //letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;
        }
        &__animatedstrip-label {
            background-image: url(./images/Starbig.png);
            background-repeat: no-repeat;
            background-size: 19px;
            background-position: right;
        }
        &__animatedstrip-label {
            color: $colorBlack;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 700;
            line-height: 110%;
            //letter-spacing: 4%;
            text-align: left;
            text-transform: uppercase;
            padding-right: 47px;
        }
    }

    .minigames {
        margin-top: 48px;
        padding-bottom: 49px;
        //align-items: center;

        &__box {
            gap: 24px;
            align-items: center;
        }

        &__heading {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 48px;
        }

        &__item {
            width: 343px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
        }

        &__img {
            width: 343px;
            border-radius: 30px;
        }

        &__item-content {
            width: 343px;
            padding: 29px 29px 32px 29px;
        }

        &__content-label {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            text-align: left;
            padding-bottom: 16px;
        }

        &__content-button {
            width: 285px;
            font-size: 1rem;
        }
    }

    .main__games-text_altered {
        width: 285px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 32px;
    }

    .footer {
        
        &__text {
            font-size: 1rem;
            font-weight: 600;
            line-height: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

}