$colorBlack: #202027;
$colorYellow: #bcec30;
$colorLightYellow: #e1ff8f;
$colorWhite: #ffffff;


* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.top {
    background-color: $colorLightYellow;
    background-size: cover;
    background-position: center;
    height: 800px;
    background-image: url(./images/star.png),
        url(./images/Star1.png),
        url(./images/Star2.png),
        url(./images/Star3.png),
        url(./images/Star4.png);
    background-repeat: no-repeat, no-repeat,
        no-repeat, no-repeat,
        no-repeat;
    background-size: 80%, 35px, 57px, 37px, 83px;
    background-position: 860px -400px,
        160px 70px,
        63px 95px,
        950px 540px,
        1015px 570px;
}



.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top__heading {
    color: $colorBlack;
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 196px;
    width: 768px;
}

.top__text {
    color: $colorBlack;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    width: 720px;
    margin-top: 24px;
    padding-bottom: 48px;
}

.top__button {
    width: 247px;
    background-color: $colorBlack;
    border-radius: 60px;
    color: $colorWhite;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141%;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-top: 16px;
    transition: 1.5s;
    //transition-delay: .3s;
}

.top__button:hover {
    background-color: #ffffff;
    color: #202027;
    cursor: pointer;

}

.main {
    background-color: $colorBlack;
    overflow: hidden;

}

.main__games-enter {
    padding-bottom: 72px;
}

.main__games-heading {
    color: $colorWhite;
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0;
    text-align: left;
}

.main__games-text {
    color: $colorWhite;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 788px;
}

.main__games {
    margin-top: 94px;
    padding-bottom: 50px;
    /*position: relative;*/
    background-image: url(./images/transparentStar.png),
        url(./images/Star5.png),
        url(./images/Star6.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 1020px 10px,
        30px 670px,
        45px 720px;
    border-bottom: 1px solid $colorYellow;
}

.main__games-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}

.main__games-item {
    width: 378px;
    border-radius: 30px;
    background-color: $colorWhite;
    display: grid;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.main__games-content-altered {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 2;
}

/*.main__games-item_altered {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}*/

.main__games-item:hover {
    transform: scale(1.07);
    transition: 1s;
    cursor: pointer;
}

.main__games-img {
    border-radius: 30px;
}

.main__games-itemname {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 28px;
    padding-bottom: 36px;
}

.main__games-itemtext {
    color: $colorBlack;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    border-radius: 53px;
    background: rgb(247, 247, 247);
    width: 108px;
    padding: 16px 8px 16px 8px;
}

.main__games-itemlabel {
    padding-top: 16px;
    color: $colorBlack;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

.main__games-text_altered {
    color: $colorBlack;
    width: 457px;
    padding-bottom: 36px;
}

.minigames {
    margin-top: 46px;

}

.minigames__img {
    width: 600px;
    border-radius: 45px;
}

.minigames__heading {
    color: $colorWhite;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 72px;
}

.minigames__box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.minigames__item {
    width: 1200px;
    background-color: $colorWhite;
    border-radius: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    //flex-wrap: wrap;
}

.minigames__item_altered {
    display: flex;
    flex-direction: row;
    
}

.minigames__item-content {
    width: 600px;
    padding: 48px;
    box-sizing: border-box;
}

.minigames__content-label {
    color: $colorBlack;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 24px;
}

.minigames__content-button {
    min-width: 247px;
    border-radius: 60px;
    background-color: $colorBlack;
    color: $colorWhite;
    font-size: 1.5rem;
    font-family: Montserrat;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: 1.5s;
    cursor: pointer;
}

.minigames__content-button:hover {
    color: $colorBlack;
    background-color: $colorWhite;
}

.footer {
    background-color: $colorYellow;
    
    margin-top: 144px;
}

.footer__text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 60px;
}

@import "mobile";
