* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.top {
  background-color: #e1ff8f;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top__heading {
  color: #202027;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
  width: 768px;
}

.top__text {
  color: #202027;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 720px;
  margin-top: 24px;
  padding-bottom: 48px;
}

.top-button {
  width: 247px;
  background-color: #202027;
  border-radius: 60px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141%;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-top: 16px;
  transition: 1.5s;
}

.top-button:hover {
  background-color: #ffffff;
  color: #202027;
  cursor: pointer;
}

.main {
  background-color: #202027;
  position: relative;
}

.main__picture {
  position: absolute;
  right: -340px;
  top: -270px;
  background-color: transparent;
  z-index: 1;
}

.main__picture1 {
  position: absolute;
  top: 70px;
  left: 160px;
  background-color: transparent;
  z-index: 1;
}

.main__picture2 {
  position: absolute;
  top: 94px;
  left: 64px;
  background-color: transparent;
  z-index: 1;
}

.main__picture3 {
  position: absolute;
  top: 538px;
  left: 948px;
  background-color: transparent;
  z-index: 1;
}

.main__picture4 {
  position: absolute;
  top: 568px;
  left: 1013px;
  background-color: transparent;
  z-index: 1;
}

.main__picture_upper {
  position: absolute;
  top: -10px;
  left: 864px;
  z-index: 1;
}

.main__picture_middle {
  position: absolute;
  top: 254px;
  left: 1067px;
  color: #202027;
  z-index: 1;
}

.main__picture_lower {
  position: absolute;
  top: 380px;
  left: 1225px;
  z-index: 1;
}

.main__picture_triangle {
  position: absolute;
  z-index: 1;
  top: 468px;
  left: 1247px;
}

.main__games-enter {
  padding-bottom: 72px;
}

.main__games-heading {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
}

.main__games-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 788px;
}

.main__games {
  margin-top: 94px;
  padding-bottom: 50px;
  position: relative;
}

.main__games-picture {
  position: absolute;
  background-color: transparent;
  top: 1px;
  right: -83px;
  z-index: 1;
}

.main__games-picture1 {
  position: absolute;
  background-color: transparent;
  top: 670px;
  left: 55px;
}

.main__games-picture2 {
  position: absolute;
  background-color: transparent;
  top: 722px;
  left: 70px;
}

.main__games-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}

.main__games-item {
  width: 378px;
  border-radius: 30px;
  background-color: #ffffff;
  display: grid;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.main__games-content-altered {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 2;
}

/*.main__games-item_altered {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}*/
.main__games-item:hover {
  transform: scale(1.07);
  transition: 1s;
  cursor: pointer;
}

.main__games-img {
  border-radius: 30px;
}

.main__games-itemname {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 28px;
  padding-bottom: 36px;
}

.main__games-itemtext {
  color: #202027;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  border-radius: 53px;
  background: rgb(247, 247, 247);
  width: 108px;
  padding: 16px 8px 16px 8px;
}

.main__games-itemlabel {
  padding-top: 16px;
  color: #202027;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */